<h3>@ngrx/store Party Planner</h3>

<button (click)="resetParty()" class="margin-bottom-10">
  Reset Party
</button>

<div class="margin-bottom-10">
  Percent Attendance: {{percentAttendance | async}}%
</div>

<app-party-stats
  [invited]="(model | async)?.total"
  [attending]="(model | async)?.attending"
  [guests]="(model | async)?.guests"
>
</app-party-stats>

<app-filter-select
  (updateFilter)="updateFilter($event)"
></app-filter-select>

<app-person-input
  (addPerson)="addPerson($event)"
>
</app-person-input>
<app-person-list
  [people]="(model | async)?.people"
  (addGuest)="addGuest($event)"
  (removeGuest)="removeGuest($event)"
  (removePerson)="removePerson($event)"
  (toggleAttending)="toggleAttending($event)"
>
</app-person-list>
